main{
    padding-top: 200px;
}
#productsSliders{
    width: 100%;
    max-height: 300px;

    border-radius: 20px;
    overflow: hidden;
    
}
#productsSliders .row{
    padding: 0px 100px;
}
#productsSliders img{
    max-height: 300px !important;
    max-width: 100%;
}

.owl-carousel .owl-stage{
    display: flex;
    align-items: center;
}   
.owl-carousel .owl-item{
    min-height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.owl-carousel .owl-item .row{

    min-height: 300px;
    border-radius: 20px;
}
main .input-group{
    max-width: 400px;
}
.categoriesContainer button.selected{
    background-color: goldenrod !important;
    color: white;
}

.productsPreview{
    height: 250px;
    
}
.productsPreview img{
    max-width: 100%;
    max-height: 100%;
}
.addCartBtn{
    transition: all .3s ease-in-out;
    border-color: transparent !important;
}
.addCartBtn:hover{
    border-color: goldenrod !important;
    background-color: goldenrod;
    color: white;
}
.addWishList.active{
    background-color: goldenrod;
    color: white;
}
.sortMenu .menu{
    height: 0;
    overflow: hidden;
    max-height: 0px;
    z-index: 2;
    transition: all .3s ease-in-out;
}
.sortMenu:hover{
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.sortMenu:hover .menu{
    height: auto;
    max-height: 400px;
}
.sortMenu .menu button:hover{
    background-color: #c2c2c2;
}
@media all and ( max-width:500px ) {
    #productsSliders .row{
        padding: 0px 50px;
    }

    .categoriesContainer {
        overflow-x: auto;
    }
}
