html{
    height: 100%;
}
body{
    font-family: 'Inter','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-x: hidden;
}
@font-face {
    font-family: 'Inter';
    src: url('../Assests/static/Inter_28pt-Light.ttf');
}
@font-face {
    font-family: 'Inter light bold';
    src: url('../Assests/static/Inter_24pt-Bold.ttf');
}
header{
    font-size: 18px;
    z-index: 1000;
    transition: all .3s ease-in-out;
}
header .container{
    max-width: 1100px;
}
header .logo-container{
    height: 70px;
}
header .logo-container img{
    height: 100%;
}
header .lang-container{
    width: 80px;
    min-width: 100% !important;
    opacity: 0;
    transition: max-height .3s ease-in-out , opacity .3s ease-in-out , transform .3s ease-in-out;
    overflow: hidden;
    z-index: 10px !important;
    visibility: hidden;
    max-height: 0px;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform-origin: 100% 17px;
    transform: rotateX(100deg);
    
}
header .nav-item:hover .lang-container{
    max-height: 300px;
    visibility: visible;
    opacity: 1;
    z-index: 1; 
    transform: rotateX(0deg);
}
header .lang-container .dropdown-item{
    transition: all .3s ease-in-out;
    font-weight: 600;
}
header .lang-container .dropdown-item:hover{
    color: goldenrod;
} 
header .getStartedLink{
    background-color: goldenrod;
}
header .menuBtn{
    display: none;
}
header .menuBtn div{
    height: 4px;
    width: 30px;
    background-color: #c2c2c2;
}

main{
    width: 100%;
    overflow-x: hidden;
}

.main-font{
    font-size: 0.8652rem;
}
@font-face {
    font-family: 'bold inter';
    src: url(../../CSS/Assests/static/Inter_28pt-ExtraBold.ttf);
}

@media all and (min-width: 950px){
    
    header.shadow-sm{
        box-shadow: none !important ;
    }
    header.scrolling{
        background-color:rgba(255,255,255,.7)!important;
        backdrop-filter:blur(20px);
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }
}

@media all and (max-width: 950px){
    header .menuBtn{
        display: block;

    }
    
    header.collapsed{
        background-color:rgba(255,255,255,.7)!important;
        backdrop-filter:blur(20px);        
    }
    header{
        
        padding: 0px 20px;
        z-index: 1000;

        background-color: white ;
    }
    header.py-3{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    header.collapsed .nav{
        max-height: 0px;
        overflow: hidden;
        padding: 0px !important;
    }
    header .nav{
        position: absolute;
        top: 100%;
        transition: all .3s ease-in-out;
        left: 0;
        background-color: white;
        
        width: 100%;
        max-height: 1000px;
        overflow: hidden;
        display: block !important;
        box-shadow: 0px 1px 0px 0px #c2c2c2 !important;
    }
    header .nav-item{
        text-align: center;
        margin: 0px !important;
        padding: 0px 10px;
    }
    header .lang-container{
        position: static !important;
        text-align: center;
        transform: none !important;
    }
    
}